<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>
            <div>
                <h2>
                    {{item.title}}
                </h2>
                <p class="lead">
                    by {{item.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{item.postDate}}</p>
                <hr>
                <p [innerHTML]="html"></p>
            </div>
        </div>
    </div>
</div>
