<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                {{item.title}}
            </h1>
            <div>
                <p class="lead">
                    by <a [routerLink]="['/about']">{{item.author}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> {{item.postDate | date: 'MM/dd/yyyy'}}</p>
                <div>
                    <small>Posted in </small><span *ngFor="let category of item.categories; let isLast=last"><a [routerLink]="['/categoryResults', category.name]">{{category.name}}{{isLast ? '' : ', '}} </a></span>
                    <small>Tagged </small><span *ngFor="let tag of item.tags; let isLast=last"><a [routerLink]="['/tagResults', tag.name]">{{tag.name}}{{isLast ? '' : ', '}} </a></span>
                </div>
                <hr>
                <p [innerHTML]="html"></p>
            </div>
        </div>
    </div>
</div>
