# See http://help.github.com/ignore-files/ for more about ignoring files.

*.map
*.user
.vs
*.dll
*.pdb

/Combined/packages
/Combined/.vs

/WebApi/.vs
/WebApi/src/.vs
/WebApi/src/packages
/WebApi/src/Blog.GrenitausConsulting.Web.Api/bin
/WebApi/src/Blog.GrenitausConsulting.Web.Api/.vs
/WebApi/src/Blog.GrenitausConsulting.Web.Api/obj

/WebApi/src/Blog.GrenitausConsulting.Domain/bin
/WebApi/src/Blog.GrenitausConsulting.Domain/obj
/WebApi/src/Blog.GrenitausConsulting.Domain/.vs

/WebApi/src/Blog.GrenitausConsulting.Services/bin
/WebApi/src/Blog.GrenitausConsulting.Services/obj
/WebApi/src/Blog.GrenitausConsulting.Services/.vs

/WebApi/src/Blog.GrenitausConsulting.Unit.Tests/bin
/WebApi/src/Blog.GrenitausConsulting.Unit.Tests/obj
/WebApi/src/Blog.GrenitausConsulting.Unit.Tests/.vs


/WebApi/src/Blog.GrenitausConsulting.Common/bin
/WebApi/src/Blog.GrenitausConsulting.Common/obj
/WebApi/src/Blog.GrenitausConsulting.Unit.Tests/.vs

/WebApi/src/Blog.GrenitausConsulting.Common/bin/Debug/Blog.GrenitausConsulting.Common.dll
/WebApi/src/Blog.GrenitausConsulting.Common/bin/Debug/Blog.GrenitausConsulting.Common.pdb

/WebApi/src/Blog.GrenitausConsulting.Common/bin/Debug/Blog.GrenitausConsulting.Domain.dll
/WebApi/src/Blog.GrenitausConsulting.Common/bin/Debug/Blog.GrenitausConsulting.Domain.pdb

/WebApi/src/Blog.GrenitausConsulting.Common/obj/Debug/Blog.GrenitausConsulting.Common.dll
/WebApi/src/Blog.GrenitausConsulting.Common/obj/Debug/Blog.GrenitausConsulting.Common.pdb

/cli/src/.vs
/cli/src/packages
/cli/src/gc-cli/bin
/cli/src/gc-cli/obj

/cli/src/Blog.GrenitausConsulting.CLI.Services/obj
/cli/src/Blog.GrenitausConsulting.CLI.Services/bin

/cli/src/Blog.GrenitausConsulting.CLI.Domain/.vs
/cli/src/Blog.GrenitausConsulting.CLI.Domain/bin
/cli/src/Blog.GrenitausConsulting.CLI.Domain/obj


/cli/src/Blog.GrenitausConsulting.CLI.Common/.vs
/cli/src/Blog.GrenitausConsulting.CLI.Common/bin
/cli/src/Blog.GrenitausConsulting.CLI.Common/obj


/Core.WebApi/src/.vs
/Core.WebApi/src/Blog.GrenitausConsulting.Core.Web.Api/bin
/Core.WebApi/src/Blog.GrenitausConsulting.Core.Web.Api/obj


/Core.WebApi/src/Blog.GrenitausConsulting.Core.Common/bin
/Core.WebApi/src/Blog.GrenitausConsulting.Core.Common/obj


/Core.WebApi/src/Blog.GrenitausConsulting.Core.Services/bin
/Core.WebApi/src/Blog.GrenitausConsulting.Core.Services/obj


/Client/.vs
/Client/bin
/Client/obj
/Client/packages
/Client/src/static-pages


/Client/src/*.js
/Client/src/app/**/*.js

# compiled output
/Client/dist
/Client/tmp

# dependencies
/Client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/Client/e2e/*.js
/Client/e2e/*.map

#System Files
.DS_Store
Thumbs.db
