# See http://help.github.com/ignore-files/ for more about ignoring files.

*.map
*.user
.vs
*.dll
*.pdb
bin
obj
packages
static-pages

/WebWebClient/.vs
/WebWebClient/bin
/WebWebClient/obj
/WebWebClient/packages
/WebWebClient/src/static-pages


/WebClient/src/*.js
/WebClient/src/app/**/*.js

# compiled output
/WebClient/dist
/WebClient/tmp

# dependencies
/WebClient/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/WebClient/e2e/*.js
/WebClient/e2e/*.map

#System Files
.DS_Store
Thumbs.db

WebClient/src/category-sitemap.xml
WebClient/src/page-sitemap.xml
WebClient/src/post-sitemap.xml
WebClient/src/post_tag-sitemap.xml
WebClient/src/rss.xml
WebClient/src/sitemap.xml
