# See http://help.github.com/ignore-files/ for more about ignoring files.

*.map
*.user
.vs
*.dll
*.pdb
bin
obj
packages
static-pages

/Client/src/category-sitemap.xml
/Client/src/page-sitemap.xml
/Client/src/post_tag-sitemap.xml
/Client/src/post-sitemap.xml
/Client/src/rss.xml
/Client/src/sitemap.xml


/Client/.vs
/Client/bin
/Client/obj
/Client/packages
/Client/src/static-pages


/Client/src/*.js
/Client/src/app/**/*.js

# compiled output
/Client/dist
/Client/tmp

# dependencies
/Client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/Client/e2e/*.js
/Client/e2e/*.map

#System Files
.DS_Store
Thumbs.db
