<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>

            <div *ngFor="let item of pagedItems">
                <h2>
                    <a href="#">{{item.title}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{item.author}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{item.postDate}}</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{item.snippet}}</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <br />
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)" [routerLink]="['/home', 1]">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)" [routerLink]="['/home', page]">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)" [routerLink]="['/home', pager.currentPage + 1]">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)" [routerLink]="['/home', pager.totalPages]">Last</a>
        </li>
    </ul>
</div>