<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>

            <div *ngFor="let post of asyncPosts | async | paginate: { id: 'server', itemsPerPage: 5, currentPage: p, totalItems: total }">
                <h2>
                    <a href="#">{{post.title}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{post.author}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{post.postDate}}</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{post.snippet}}</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <br />
    <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
    </div>
</div>