<app-header></app-header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <app-search></app-search>            
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <app-categories></app-categories>
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <app-side-widget></app-side-widget>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <app-footer></app-footer>
</div>