<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="pull-left">
        <a [routerLink]="['/home', 1]"><img src="assets/images/grenitaus-consulting-logo-small.png" alt="Grenitaus Consulting Blog" /></a>
    </div>    
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home', 1]">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="social-media-header" [routerLink]="['/about']">About</a>
                </li>
                <li>
                    <a href="http://grenitausconsulting.com" target="_blank">Services</a>
                </li>
                <li>

                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a style="padding-right:2px;" href="https://www.facebook.com/profile.php?id=100014250101566" target="_blank"><img src="assets/images/facebook_vecteezy.png" width="28" height="28" /></a>
                </li>
                <li>
                    <a style="padding-right:2px;" href="https://twitter.com/mikedeongreen" target="_blank"><img src="assets/images/twitter_vecteezy.png" width="28" height="28" /></a>
                </li>
                <li>
                    <a style="padding-right:2px;" href="https://www.linkedin.com/in/michael-d-green" target="_blank"><img src="assets/images/linkedin_vecteezy.png" width="28" height="28" /></a>
                </li>
                <li>
                    <a style="padding-right:2px;" href="https://github.com/michaeldeongreen" target="_blank"><img src="assets/images/github_vecteezy.png" width="28" height="28" /></a>
                </li>
                <li>
                    <a style="padding-right:2px;" href="rss.xml" target="_blank"><img src="assets/images/rss.png" width="28" height="28" /></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>