<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                About Me
            </h1>

            <div>
                <a href="assets/images/michael-d-green.jpg"><img src="assets/images/michael-d-green.jpg" alt="Michael D. Green" width="256" height="256" class="alignnone size-full wp-image-4"/></a>
                <br /><br />
                <p>Well, a little about me.  My name is Michael D. Green and I am a native Texan and a graduate of The University of Texas at Arlington.</p>
                <br />
                <p>Some of my hobbies include reading books in the self-help, epic fantasy, history and technical genre.  I am a huge fan of George R.R. Martin, Les Brown and the Civil Rights  Era.  I'm also a sucker for a good television drama, be it American, English, Danish, Japanese or South Korean.  I am also huge Japanese Anime fan and I read the manga One Piece regularly.</p>
                <br />
                <p>I tend to be passionate about technology, in particular software design, software development practices and how technology can be used to benefit everyone.</p>
                <br />
                <p>Last but not least, I make my living as an IT Consultant, Software Architect, SCRUM Master and Technology Evangelist and the opinions I express on my blog are my own and not the views of my employer.</p>
            </div>
        </div>
    </div>
</div>